<ion-view title="Your Progress">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="item in items" class="progress-day">
        <div class="progress-day-date">
          <span class="weekday">{{item.weekday}}</span>
          <span class="day">{{item.day}}</span>
          <span class="month">{{item.month}}</span>
        </div>
        <div class="progress-day-result">
          <!-- <span class="good ion-thumbsup"></span> -->
          <span class="bad donation">£1</span>
        </div>
        <div class="progress-day-steps">
          <span class="num-of-steps">{{item.steps}}</span>
          <span class="steps-text">Steps</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>