<ion-view title="Setup">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header setup-page">

  	<div class="setup-step setup-1">
		<div class="row">
		  <div class="row-max-width">
		  	<h3>Steps</h3>
	    	<h5>Set a target amount of steps per day</h5>
			<div class="range range-positive">
			  <input type="range" name="steps" step="500" min="1000" value="10000" max="24000" ng-model="challengeData.goal">
			</div>
			<div class="slider-figure">
                ({{challengeData.goal}})
            </div>
		  </div>
		</div>
	</div>

  	<div class="setup-step setup-2">
		<div class="row">
		  <div class="row-max-width">
		  	<h3>Duration</h3>
	    	<h5>Set a duration for your programme</h5>
			<div class="range range-positive">
			  <input type="range" name="steps" step="1" min="1" max="31" ng-model="challengeData.duration">
			</div>
			<div class="slider-figure">({{challengeData.duration}} days)</div>
		  </div>
		</div>
	</div>

    <div class="setup-step button-wrap">
        <div class="row">
		    <a href="#/app/setup2" class="button button-block button-next">Next</a>
        </div>
    </div>

    <div class="setup-step setup-step-process">
        <div class="row">
	        <div class="process-bar">
	        	<span class="ion-ios7-circle-filled"></span>
	        	<span class="ion-ios7-circle-outline"></span>
	        	<span class="ion-ios7-circle-outline"></span>
	        </div>
        </div>
    </div>

  </ion-content>

</ion-view>
