<ion-view title="Setup">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header setup-page">

    <div class="setup-step setup-5">
    <div class="row">
      <div class="row-max-width">
        <h3>PaypPal</h3>
        <h5>Please autorize us to take payment</h5>
      </div>
    </div>
  </div>

    <div class="setup-step button-wrap">
        <div class="row">
            <a href="#/app/setup-completion" class="button button-block button-next">Complete</a>
        </div>
    </div>

    <div class="setup-step setup-step-process">
        <div class="row">
            <div class="process-bar">
                <span class="ion-ios7-circle-outline"></span>
                <span class="ion-ios7-circle-outline"></span>
                <span class="ion-ios7-circle-filled"></span>
            </div>
        </div>
    </div>

  </ion-content>

</ion-view>
