<ion-view title="Setup">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header setup-page">

  	<div class="setup-step setup-1">
		<div class="row">
		  <div class="row-max-width">
		  	<h3>Steps</h3>
	    	<h5>Set a target amount of steps per day</h5>
			<div class="range range-positive">
			  <input type="range" name="steps">
			</div>
			<div class="slider-figure">(5000)</div>
		  </div>
		</div>
	</div>

  	<div class="setup-step setup-2">
		<div class="row">
		  <div class="row-max-width">
		  	<h3>Duration</h3>
	    	<h5>Set a duration for your programme</h5>
			<div class="range range-positive">
			  <input type="range" name="steps">
			</div>
			<div class="slider-figure">(4 weeks)</div>
		  </div>
		</div>
	</div>

    <a href="#/app/setup2" class="button button-block button-positive button-next">Next</a>

  </ion-content>

</ion-view>
