<ion-view title="Setup">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header setup-page">

  	<div class="setup-step setup-complete">
		<div class="row">
		  <div class="row-max-width">
		  	<h3>Thanks!</h3>
	    	<h5>You can now continue to your progress screen which will log your progress</h5>
		  </div>
		</div>
	</div>

    <div class="setup-step setup-button">
        <div class="row">
            <a href="#/app/progress" class="button button-block button-positive button-next">Complete</a>
        </div>
    </div>


  </ion-content>

</ion-view>
