<ion-view title="Setup">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header setup-page">

      <div class="setup-step setup-3">
        <div class="row">
          <div class="row-max-width">
              <h3>Penalty</h3>
            <h5>Set daily amount to donate, <br/>should you fail to meet your target</h5>
            <div class="range range-positive">
              <input type="range" name="penalty" step="5" min="10" max="100" ng-model="challengeData.penality">
            </div>
            <div class="slider-figure">(£{{challengeData.penality/100}})</div>
          </div>
        </div>
    </div>

      <div class="setup-step setup-4">
        <div class="row">
          <div class="row-max-width">
            <h3>Charity</h3>
            <h5>Choose a charity to donate<br/><br/></h5>
              <label class="item item-input item-select">
                <div class="input-label">
                  Charity
                </div>
                <select ng-model="challengeData.charity">
                  <option ng-selected="{{charity.name == challengeData.charity}}" ng-repeat="charity in charities" value="{{charity.id}}">
                    {{ charity.name }}
                  </option>
                </select>
              </label>
          </div>
        </div>
    </div>

    <div class="setup-step button-wrap">
        <div class="row">
            <a class="button button-block button-next" ng-click="createChallenge()">
              Next
            </a>
        </div>
    </div>

    <div class="setup-step setup-step-process">
        <div class="row">
            <div class="process-bar">
                <span class="ion-ios7-circle-outline"></span>
                <span class="ion-ios7-circle-filled"></span>
                <span class="ion-ios7-circle-outline"></span>
            </div>
        </div>
    </div>

  </ion-content>

</ion-view>
