<ion-view title="Welcome">
  <ion-content class="has-header welcome-page">
    <h1 class="logo">obCity</h1>
    <p>People failing to regularly excersize cause a huge strain on health charities.</p>
    <p>This app creates a unique programme which aims to provide an insentive to excersize, by enforcing a daily penalty donation to charity if that target is not met.</p>
    <p>You are in complete control of your programme, and choose your own daily goal, penalty amount and charity to donate to.</p>

    <div class="button-wrap">
        <div class="row">
            <a href="#/app/login" class="button button-block">Enter</a>
        </div>
    </div>

  </ion-content>
</ion-view>
