/* dashboard */
.progress-day {
  padding-top: 5px;
  padding-bottom: 5px; }

.progress-day-date {
  width: 30px;
  float: left; }
  .progress-day-date .weekday {
    font-size: 10px;
    display: block;
    text-align: center; }
  .progress-day-date .day {
    font-size: 24px;
    display: block;
    text-align: center; }
  .progress-day-date .month {
    font-size: 10px;
    display: block;
    text-align: center; }

.progress-day-result {
  width: 50px;
  float: right; }
  .progress-day-result .donation {
    color: red;
    font-weight: bold;
    font-size: 24px;
    text-align: right; }

.progress-day-steps {
  width: 50px;
  float: right;
  font-size: 20px; }
