@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,100italic,300italic,400italic,500italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);
* {
  font-family: 'Roboto', sans-serif;
  color: #3b3b3b; }

body {
  background-color: #edebec;
  color: #3b3b3b; }

.button-block {
  width: 150px;
  padding: 0 20px;
  margin: 0 auto; }

/* Menu */
.bar.bar-header-menu {
  background-color: #3b3b3b;
  border-bottom: solid 2px #313131; }

.menu .scroll-content {
  background-color: #3b3b3b; }

.item-complex .item-content {
  background-color: #3b3b3b;
  color: white;
  border: none; }

.menu-item {
  border-top: solid 1px #575757;
  border-bottom: solid 3px #313131; }
  .menu-item:last-child {
    border-bottom: none; }

.menu-item-icon {
  display: inline-block;
  margin-right: 5px; }

/* Header */
.bar-stable .button {
  color: white; }
  .bar-stable .button:hover {
    color: white; }

.bar.nav-bar {
  background: -webkit-linear-gradient(top, #13c5ad 0%, #0e8c8a 100%);
  /* Chrome10+,Safari5.1+ */ }
  .bar.nav-bar .title {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 20px; }

.nav-title {
  display: none; }

/* VIEW: Progress */
.progress-day {
  padding: 4px 10px 5px 11px;
  height: 72px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #f5f0ec;
  border: none; }
  .progress-day:nth-child(even) {
    background-color: white; }
  .progress-day:nth-child(7) {
    border-bottom: 2px solid #ccc; }

.progress-day-date {
  width: 30px;
  float: left;
  text-transform: uppercase; }
  .progress-day-date .weekday {
    font-size: 10px;
    display: block;
    text-align: center;
    font-weight: 600; }
  .progress-day-date .day {
    margin: 1px 0px 3px 0px;
    font-size: 34px;
    display: block;
    text-align: center;
    font-weight: 100; }
  .progress-day-date .month {
    font-size: 10px;
    display: block;
    text-align: center;
    font-weight: 600; }

.progress-day-result {
  width: 40px;
  height: 100%;
  float: right;
  padding-top: 8px;
  margin-right: 8px; }
  .progress-day-result .result-badge {
    color: white;
    width: 40px;
    height: 46px;
    display: block;
    text-align: center;
    padding-top: 12px;
    background-size: 40px 46px;
    background-repeat: no-repeat;
    background-position: center center; }
  .progress-day-result .good {
    background-image: url('../img/icon-bg-blue2.png');
    font-size: 20px; }
  .progress-day-result .bad {
    background-image: url('../img/icon-bg-red.png');
    font-size: 16px;
    font-weight: 700; }

.progress-day-steps {
  height: 100%;
  float: right;
  margin-right: 15px;
  padding-top: 15px;
  text-align: right; }
  .progress-day-steps .num-of-steps {
    display: block;
    margin-top: 1px;
    margin-bottom: -1px;
    font-size: 26px;
    text-align: center;
    font-weight: 700; }
  .progress-day-steps .steps-text {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center; }

/* VIEW: Setup */
.setup-page {
  background: #ffffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #fff9f9 34%, #e0c8b8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(34%, #fff9f9), color-stop(100%, #e0c8b8));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #fff9f9 34%, #e0c8b8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #fff9f9 34%, #e0c8b8 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #fff9f9 34%, #e0c8b8 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ffffff 0%, #fff9f9 34%, #e0c8b8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0c8b8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.setup-step {
  text-align: center;
  width: 100%;
  padding-top: 30px; }
  .setup-step h3 {
    margin-bottom: -5px;
    color: #3b3b3b; }
  .setup-step h5 {
    margin-bottom: -5px;
    font-size: 12px;
    color: #3b3b3b; }

.row-max-width {
  width: 100%; }

.slider-figure {
  display: block;
  margin-top: -5px; }


.login-text{
  text-align: center;
  margin:60px 0px;
}

.login-error{
}