@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,100italic,300italic,400italic,500italic,700italic,900italic);
.progress-day {
  padding: 0px 10px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.progress-day-date {
  width: 30px;
  float: left;
  text-transform: uppercase; }
  .progress-day-date .weekday {
    font-size: 8px;
    display: block;
    text-align: center;
    font-weight: 600; }
  .progress-day-date .day {
    margin: -1px 0px 1px 0px;
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: 100; }
  .progress-day-date .month {
    font-size: 10px;
    display: block;
    text-align: center;
    font-weight: 600; }

.progress-day-result {
  width: 50px;
  float: right; }
  .progress-day-result .donation {
    display: block;
    color: #a61717;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-top: 18px; }

.progress-day-steps {
  width: 50px;
  height: 100%;
  float: right;
  margin-right: 10px;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-size: 14px;
  text-align: right;
  border-right: 1px solid #ccc;
  /*    background-image: url('../img/steps.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 90% 90%;*/ }
